In [1]:
import pandas as pd 
import numpy as np 

edu = pd.read_csv('../dataset/education.csv')
lang = pd.read_csv('../dataset/languages.csv')
skills = pd.read_csv('../dataset/skills.csv')
exp = pd.read_csv('../dataset/work_experiences.csv')
train = pd.read_csv('../dataset/train_users.csv')
test = pd.read_csv('../dataset/test_users.csv')

### Exploring Education

In [274]:
edu.sort_values(by='user_id').head()

,user_id,school_name,degree,fields_of_study,start_year_month,end_year_month
0,0,Anadolu Üniversitesi,NaN,NaN,NaN,NaN
1,0,Adıyaman Üniversitesi,NaN,NaN,NaN,NaN
2,0,Fırat Üniversitesi,NaN,NaN,NaN,NaN
3,1,Fırat Üniversitesi,Yüksek Lisans,Yazılım Mühendisliği,NaN,NaN
4,1,Fırat Üniversitesi,Lisans,Yazılım Mühendisliği,NaN,NaN

In [275]:
edu.isnull().sum() / len(edu) * 100

user_id              0.000000
school_name          0.000000
degree              25.139050
fields_of_study     13.914080
start_year_month    94.247238
end_year_month      94.676486
dtype: float64

In [276]:
edu = edu[['user_id', 'school_name', 'fields_of_study','degree']]

In [277]:
tot = 0
for i in edu.degree.value_counts().tolist():
    tot += i
(edu.degree.str.lower().value_counts() / tot *100)[:10]

lisans derecesi             17.939157
bachelor's degree           14.398546
master's degree              5.034994
yüksek lisans (master)       4.915068
lisans                       2.992514
master of science - ms       2.198008
bachelor of science - bs     1.921617
lise                         1.623678
high school diploma          1.618056
önlisans                     1.517806
Name: degree, dtype: float64

In [278]:
mapping_dict = {
    "lise":["lise", "high school"],
    "Ön Lisans":["ön", "associate","yüksekokul"],
    "Lisans":["lisans", "bachelor","üniversite","bsc", 
              "bs","licentiate","mühendislik","engineer's",
              "undergraduate","i̇şletme fakültesi","fen",
              "b.sc.","fakülte","b.s"],
    "Master":["yüksek", "master","msc","ms","mba","m.sc."],
    "Doktora":["phd", "doctor","doktora"]
}

In [279]:
import re
import pandas as pd

def map_degree(degree):
    if isinstance(degree, float) and pd.isna(degree):
        return degree
    degree = re.sub(r'[\.,;]', '', degree).lower()
    for mapped_degree, keywords in mapping_dict.items():
        for keyword in keywords:
            keyword = keyword.lower()
            if re.search(r"\b" + keyword + r"\b", degree):
                return mapped_degree
    return "diğer"

In [280]:
edu['degree'] = edu['degree'].apply(map_degree)
edu['degree'].value_counts()

Lisans       61984
diğer        17973
Master       15047
lise          5413
Ön Lisans     3830
Doktora       2486
Name: degree, dtype: int64

In [281]:
tot = 0
for i in edu.fields_of_study.value_counts().tolist():
    tot += i
(edu.fields_of_study.str.lower().value_counts() / tot *100)[:50]

bilgisayar mühendisliği                                   11.994753
computer engineering                                      10.383992
elektrik ve elektronik mühendisliği                        2.902140
electrical and electronics engineering                     2.626755
computer science                                           2.557501
bilgisayar programlama                                     1.503214
computer programming                                       1.266937
yönetim bilişim sistemleri                                 1.114578
mechanical engineering                                     1.055916
industrial engineering                                     1.005402
i̇şletme                                                   0.979330
i̇şletme ve yönetim, genel                                 0.956517
business administration and management, general            0.824527
elektronik ve haberleşme mühendisliği                      0.725128
software engineering                                       0.712092
makine mühendisliği                                        0.696611
endüstri mühendisliği                                      0.661577
mathematics                                                0.650985
bilgisayar programlama/programcı, genel                    0.650985
matematik                                                  0.650985
science                                                    0.636320
management information systems                             0.635505
bilgisayar programcılığı                                   0.631431
business administration                                    0.584991
computer software engineering                              0.584176
bilgisayar yazılımı mühendisliği                           0.540994
fen bilimleri                                              0.537735
yazılım mühendisliği                                       0.525514
sayısal                                                    0.509219
information technology                                     0.463593
economics                                                  0.436706
bilgisayar bilimleri                                       0.434262
matematik mühendisliği                                     0.430188
electrical, electronics and communications engineering     0.417152
management information systems, general                    0.405746
chemical engineering                                       0.382118
physics                                                    0.367452
mba                                                        0.357675
yönetim bilgi sistemleri, genel                            0.347084
electronics engineering                                    0.334048
computer science and engineering                           0.322641
electronics and communication engineering                  0.316123
kimya mühendisliği                                         0.312864
electrical engineering                                     0.295754
electronics and communications engineering                 0.285977
computer engineer                                          0.283533
engineering management                                     0.276200
civil engineering                                          0.273756
fizik                                                      0.263164
mekatronik, robotik ve otomasyon mühendisliği              0.254202
Name: fields_of_study, dtype: float64

In [282]:
mapping_study = {
    "computer engineering": [
        "bilgisayar mühendisliği",
        "computer engineering",
        "bilgisayar yazılımı mühendisliği",
        "computer software engineering",
        "computer science and engineering",
        "computer science",
        "computer engineer"
    ],
    "electrical and electronics engineering": [
        "elektrik ve elektronik mühendisliği",
        "electrical and electronics engineering",
        "elektronik ve haberleşme mühendisliği",
        "electronics engineering",
        "electronics and communication engineering",
        "electronics and communications engineering",
        "electrical, electronics and communications engineering",
        "electrical engineering"
    ],
    "business administration and management": [
        "yönetim bilişim sistemleri",
        "i̇şletme",
        "i̇şletme ve yönetim, genel",
        "business administration and management, general",
        "business administration",
        "mba",
        "yönetim bilgi sistemleri, genel",
        "management information systems",
        "management information systems, general"
    ],
    "mechanical engineering": [
        "makine mühendisliği",
        "mechanical engineering"
    ],
    "industrial engineering": [
        "endüstri mühendisliği",
        "industrial engineering"
    ],
    "mathematics": [
        "bilgisayar programlama",
        "mathematics",
        "matematik",
        "science",
        "fen bilimleri",
        "matematik mühendisliği"
    ],
    "computer programming": [
        "computer programming",
        "bilgisayar programlama/programcı, genel",
        "bilgisayar programcılığı"
    ],
    "software engineering": [
        "yazılım mühendisliği",
        "software engineering"
    ],
    "information technology": [
        "information technology"
    ],
    "economics": [
        "economics"
    ],
    "physics": [
        "physics",
        "fizik"
    ],
    "chemical engineering": [
        "kimya mühendisliği",
        "chemical engineering"
    ],
    "engineering management": [
        "engineering management"
    ],
    "civil engineering": [
        "civil engineering"
    ],
    "mechatronics, robotics and automation engineering": [
        "mekatronik, robotik ve otomasyon mühendisliği"
    ]
}

In [283]:
import re
import pandas as pd

def map_study(study):
    if isinstance(study, float) and pd.isna(study):
        return study
    study = re.sub(r'[\.,;]', '', study).lower()
    for mapped, keywords in mapping_study.items():
        for keyword in keywords:
            keyword = keyword.lower()
            if re.search(r"\b" + keyword + r"\b", study):
                return mapped
    return "diğer"

In [284]:
edu['fields_of_study'] = edu['fields_of_study'].apply(map_study)
edu['fields_of_study'].value_counts()

diğer                                     45288
computer engineering                      34693
electrical and electronics engineering    10676
mathematics                                9437
business administration and management     9247
computer programming                       2694
mechanical engineering                     2340
industrial engineering                     2265
software engineering                       1643
physics                                    1295
chemical engineering                        881
economics                                   833
information technology                      721
engineering management                      383
civil engineering                           341
Name: fields_of_study, dtype: int64

In [285]:
edu.head()

   user_id            school_name       fields_of_study  degree
0        0   Anadolu Üniversitesi                   NaN     NaN
1        0  Adıyaman Üniversitesi                   NaN     NaN
2        0     Fırat Üniversitesi                   NaN     NaN
3        1     Fırat Üniversitesi  software engineering  Lisans
4        1     Fırat Üniversitesi  software engineering  Lisans

In [286]:
edu.isnull().sum() / len(edu) * 100

user_id             0.00000
school_name         0.00000
fields_of_study    13.91408
degree             25.13905
dtype: float64

In [287]:
edu['fields_of_study'].fillna(value=edu['fields_of_study'].mode()[0], inplace=True)
edu['degree'].fillna(value=edu['degree'].mode()[0], inplace=True)
edu.isnull().sum()

user_id            0
school_name        0
fields_of_study    0
degree             0
dtype: int64

In [288]:
edu = edu.drop_duplicates()
edu['school_name'] = edu['school_name'].str.replace(' ','_')
edu.head()

   user_id            school_name       fields_of_study  degree
0        0   Anadolu_Üniversitesi                 diğer  Lisans
1        0  Adıyaman_Üniversitesi                 diğer  Lisans
2        0     Fırat_Üniversitesi                 diğer  Lisans
3        1     Fırat_Üniversitesi  software engineering  Lisans
5        2     Fırat_Üniversitesi  computer engineering   diğer

In [289]:
edu['school_name'].value_counts()[:10]

Anadolu_Üniversitesi             6380
İstanbul_Üniversitesi            4772
Sakarya_Üniversitesi             4254
Kocaeli_Üniversitesi             3741
Istanbul_Technical_University    3726
İstanbul_Teknik_Üniversitesi     3721
Yıldız_Teknik_Üniversitesi       3698
Marmara_Üniversitesi             3515
Hacettepe_Üniversitesi           2936
Ege_Üniversitesi                 2781
Name: school_name, dtype: int64

In [290]:
school = edu.groupby('user_id')["school_name"].apply(" ".join).reset_index()
fields = edu.groupby('user_id')["fields_of_study"].apply(" ".join).reset_index()
degree = edu.groupby('user_id')["degree"].apply(" ".join).reset_index()
edu1 = pd.merge(pd.merge(school, fields, on='user_id', how='left'), degree, on='user_id', how='left')
edu1.reset_index(drop=True)
edu1

,user_id,school_name,fields_of_study,degree
0,0,Anadolu_Üniversitesi Adıyaman_Üniversitesi Fır...,diğer diğer diğer,Lisans Lisans Lisans
1,1,Fırat_Üniversitesi,software engineering,Lisans
2,2,Fırat_Üniversitesi Hafsa_Sultan_Mesleki_ve_Tek...,computer engineering diğer,diğer lise
3,3,Fırat_Üniversitesi,computer engineering,Lisans
4,4,Fırat_Üniversitesi,software engineering,Lisans
...,...,...,...,...
66266,66269,Boğaziçi_Üniversitesi Boğaziçi_Üniversitesi OML,business administration and management compute...,Master Lisans Lisans
66267,66270,Boğaziçi_Üniversitesi Massachusetts_Institute_...,physics economics mathematics physics,Master diğer Lisans Lisans
66268,66271,Boğaziçi_Üniversitesi_/_Bogazici_University Bo...,mathematics diğer diğer,Master Lisans Doktora
66269,66272,Yildiz_Technical_University Halmstad_Universit...,computer engineering computer engineering diğer,Lisans Lisans Lisans
66270,66273,Istanbul_Technical_University Bogazici_Univers...,diğer electrical and electronics engineering d...,Lisans Master Lisans

In [291]:
edu.to_csv('../exported_datasets/edu.csv', index=False)

<hr>

#### Language Exploring

In [292]:
lang.sort_values(by='user_id').head()

   user_id   language          proficiency
0        8  İngilizce    full_professional
1        8     Türkçe  native_or_bilingual
2        8  Fransızca           elementary
3       10  ingilizce                  NaN
4       11    Turkish  native_or_bilingual

In [293]:
lang.isnull().sum() / len(lang) *100

user_id         0.000000
language        0.000000
proficiency    14.016197
dtype: float64

In [294]:
lang.proficiency.value_counts()

native_or_bilingual     22026
professional_working    18306
elementary               8971
full_professional        8389
limited_working          7709
Name: proficiency, dtype: int64

In [295]:
lang.language.str.lower().value_counts()[:25]

i̇ngilizce                              20702
english                                 14906
türkçe                                  14010
turkish                                  8264
almanca                                  3755
german                                   3108
french                                    934
spanish                                   842
i̇spanyolca                               837
fransızca                                 757
ingilizce                                 661
rusça                                     538
russian                                   521
arabic                                    520
arapça                                    387
italian                                   365
i̇talyanca                                333
i̇ngilizce, orta (1100-1500)              330
japanese                                  276
deutsch                                   203
japonca                                   162
i̇ngilizce                                152
azerbaijani                               152
i̇ngilizce, eski (yaklaşık 450-1100)      126
türkçe, osmanlıca (1500-1928)             122
Name: language, dtype: int64

In [296]:
mapping_language = {
    "ingilizce": ["ingilzice","english","i̇ngilizce, eski (yaklaşık 450-1100)","i̇ngilizce, orta (1100-1500)"], 
    "türkçe":['türkçe','turkish','türkçe, osmanlıca (1500-1928)'],
    "almanca":['germany','german','almanca','deutch','deutsch'],
    "fransızca":['french','fransızca'],
    "ispanyolca":['spanish','ispanyolca'],
    "rusça":['russian','rusça'],
    "arapça":['arapça','arabian','arabic'],
    "italyanca":['italian','italyanca'],
    "japonca":['japanese','japonca'],
    "azerice":['azerbaijani']
}

In [297]:
def map_lang(lang):
    if isinstance(lang, float) and pd.isna(lang):
        return lang
    lang = re.sub(r'[\.,;]', '', lang).lower()
    for mapped, keywords in mapping_language.items():
        for keyword in keywords:
            keyword = keyword.lower()
            if re.search(r"\b" + keyword + r"\b", lang):
                return mapped
    return "diğer"

In [298]:
lang['language'] = lang['language'].apply(map_lang)
lang['language'].value_counts()

diğer         25809
türkçe        22512
ingilizce     15008
almanca        7184
fransızca      1709
rusça          1066
arapça          935
ispanyolca      865
japonca         442
italyanca       380
azerice         152
Name: language, dtype: int64

In [299]:
lang.head()

   user_id   language          proficiency
0        8      diğer    full_professional
1        8     türkçe  native_or_bilingual
2        8  fransızca           elementary
3       10      diğer                  NaN
4       11     türkçe  native_or_bilingual

In [300]:
lang.isnull().sum() / len(lang) * 100

user_id         0.000000
language        0.000000
proficiency    14.016197
dtype: float64

In [301]:
most_frequent = lang['proficiency'].mode()[0]
lang['proficiency'].fillna(value=most_frequent, inplace=True)
lang.isnull().sum()

user_id        0
language       0
proficiency    0
dtype: int64

In [302]:
lang.head()

   user_id   language          proficiency
0        8      diğer    full_professional
1        8     türkçe  native_or_bilingual
2        8  fransızca           elementary
3       10      diğer  native_or_bilingual
4       11     türkçe  native_or_bilingual

In [303]:
languages = lang.groupby('user_id')["language"].apply(" ".join).reset_index()
proficiencies = lang.groupby('user_id')["proficiency"].apply(" ".join).reset_index()
lang1 = pd.merge(languages, proficiencies, on='user_id', how='left')
lang1.reset_index(drop=True)
lang1

,user_id,language,proficiency
0,8,diğer türkçe fransızca,full_professional native_or_bilingual elementary
1,10,diğer,native_or_bilingual
2,11,türkçe ingilizce diğer,native_or_bilingual professional_working nativ...
3,12,türkçe ingilizce,native_or_bilingual professional_working
4,13,diğer almanca,full_professional limited_working
...,...,...,...
37285,66265,ingilizce,native_or_bilingual
37286,66269,ingilizce,native_or_bilingual
37287,66271,ingilizce,native_or_bilingual
37288,66272,ingilizce,professional_working
37289,66273,türkçe diğer almanca,native_or_bilingual professional_working eleme...

In [304]:
lang1.to_csv("../exported_datasets/lang.csv", index=False)

<hr>

#### Skills Exploring

In [305]:
skills.sort_values(by='user_id').head()

   user_id          skill
0        1    Mühendislik
1        1         Eğitim
2        2        Android
3        2           Java
4        2  3D Studio Max

In [306]:
skills.isnull().sum()

user_id    0
skill      0
dtype: int64

In [313]:
skills['skill'] = skills['skill'].str.replace(' ','_')
skills = skills.groupby('user_id')["skill"].apply(" ".join).reset_index()
skills

       user_id                                              skill
0            1                                 Mühendislik Eğitim
1            2  Android Java 3D_Studio_Max Müşteri_Hizmetleri ...
2            3         Mühendislik Programlama Algoritma_Tasarımı
3            5  Oyun_Tasarımı Veritabanı_Yönetimi Veri_Bilimi ...
4            6  Liderlik Ekip_Liderliği Mühendislik Eğitim İle...
...        ...                                                ...
62397    66269  Cloud_Computing Strategic_Partnerships Enterpr...
62398    66270  PMP Stratejik_Yönetim Stratejik_Bilişim_Yöneti...
62399    66271  Software_Development ASP.NET C# Programming E-...
62400    66272  Java Tomcat MySQL Software_Development Softwar...
62401    66273  Python Docker Kubernetes Linux_Sistem_Yönetimi...

[62402 rows x 2 columns]

In [314]:
skills.to_csv('../exported_datasets/skills.csv', index=False)

<hr>

#### Experiment Exploring

In [308]:
exp.sort_values(by='user_id').head()

        user_id  company_id                         location  start_year_month
147720        0           0               Serbest Çalışmalar            200509
174454        0           0  Visual Studio Asp.Net Developer            200509
180157        2          10                   Mersin, Turkey            201806
19762         2           7                   Elazig, Turkey            201706
760           2           9                   Elazig, Turkey            201612

In [7]:
exp['location'].str.lower().value_counts()[:50]

istanbul, turkey                   44787
ankara, turkey                     14216
i̇stanbul, türkiye                 13176
ankara, türkiye                     4556
izmir, turkey                       4286
kocaeli, turkey                     2420
i̇stanbul                           1917
i̇zmir, türkiye                     1640
turkey                              1570
ankara                              1300
kocaeli, türkiye                    1124
bursa, turkey                       1013
eskisehir, turkey                    915
türkiye                              868
sakarya, turkey                      805
istanbul                             768
manisa, turkey                       678
antalya, turkey                      663
i̇zmir                               632
kayseri, turkey                      479
adana, turkey                        469
eskişehir, türkiye                   388
konya, turkey                        374
gebze                                356
bursa, türkiye                       326
antalya, türkiye                     291
manisa, türkiye                      285
sakarya, türkiye                     283
trabzon, turkey                      266
i̇zmir, turkey                       259
konya, türkiye                       232
tekirdag, turkey                     231
mersin, turkey                       207
adana, türkiye                       204
kayseri, türkiye                     198
i̇stanbul province                   183
mugla, turkey                        181
remote                               154
maslak mah., i̇stanbul, türkiye      145
elazig, turkey                       145
maslak                               143
gebze, kocaeli, turkey               130
denizli, turkey                      126
gebze, kocaeli, türkiye              126
stajyer                              124
bursa                                122
united states                        120
isparta, turkey                      119
i̇stanbul, turkey                    114
samsun, turkey                       113
Name: location, dtype: int64

In [8]:
mapping_loc={
    "istanbul":["maslak", "maslak mah., i̇stanbul, türkiye", "istanbul, turkey", "i̇stanbul, türkiye", "i̇stanbul","i̇stanbul province"],
    "ankara":["ankara, turkey", "ankara, türkiye", "ankara"],
    "izmir":["izmir, türkiye", "izmir, turkey", "izmir"],
    "kocaeli":["kocaeli, turkey", "kocaeli, türkiye", "gebze", "gebze, kocaeli, turkey", "gebze, kocaeli, türkiye"],
    "bursa":["bursa, turkey", "bursa, türkiye", "bursa"],
    "eskisehir":["eskisehir, turkey", "eskişehir, türkiye"],
    "sakarya":["sakarya, turkey", "sakarya, türkiye"],
    "trabzon":["trabzon, turkey", "trabzon, türkiye"],
    "manisa":["manisa, turkey", "manisa, türkiye"],
    "antalya":["antalya, turkey", "antalya, türkiye"],
    "kayseri":["kayseri, turkey", "kayseri, türkiye"],
    "adana":["adana, turkey", "adana, türkiye"],
    "konya":["konya, turkey", "konya, türkiye"],
    "mersin":["mersin, turkey", "mersin, türkiye"],
    "tekirdağ":["tekirdag, turkey", "tekirdag, türkiye"],
    "mugla":["mugla, turkey", "mugla, türkiye"],
    "elazig":["elazig, turkey", "elazig, türkiye"],
    "denizli":["denizli, turkey", "denizli, türkiye"],
    "US":["united states"],
    "samsun":["samsun, turkey", "samsun, türkiye"]
}

In [15]:
def map_location(data, mapping_loc):
    data['location'] = data['location'].str.lower()
    for key, value in mapping_loc.items():
        data['location'] = data['location'].replace(value, key)
    return data

test = map_location(exp, mapping_loc)
test

        user_id  company_id  location  start_year_month
0         53442        2651  istanbul            201509
1         34558         815  istanbul            201210
2         63761       26354       NaN            200010
3         10738          89       NaN            201610
4          8711        3113  istanbul            201801
...         ...         ...       ...               ...
187014    22180       15065   kocaeli            201205
187015    55822       25076    stajer            201506
187016    13750        1607       NaN            201901
187017     3679        1414    ankara            201807
187018    40056       14626  istanbul            201303

[187019 rows x 4 columns]

<hr>

In [309]:
train.sort_values(by='user_id').head()

,user_id,industry,location,moved_after_2019
46769,0,Computer Software,Turkey,0
3482,3,Computer Software,"Yesilyurt, Malatya, Turkey",0
11983,5,Computer Software,"Kocaeli, Turkey",0
2203,6,Computer Software,"Elazığ, Turkey",0
42682,7,Information Technology and Services,Turkey,0

In [310]:
test.sort_values(by='user_id').head()

      user_id                             industry                    location
648         1                    Computer Software              Ankara, Turkey
3109        2  Electrical/Electronic Manufacturing                      Turkey
2014        4                    Computer Software                      Turkey
7921       11                    Computer Software  Istanbul, Istanbul, Turkey
8004       14                    Computer Software               Aydın, Turkey