In [1]:
import pandas as pd 
import numpy as np 

X = pd.read_csv('../Boosts/Datasets/X.csv')
y = pd.read_csv('../Boosts/Datasets/y.csv')
X.head()

,industry,location,ITU,YTU,anadolu_üniversitesi,diğer_school,ege_üniversitesi,hacettepe_üniversitesi,istanbul_üniversitesi,kocaeli_üniversitesi,...,Software Development,Software Engineering,Spring Framework,Teamwork,Visual Studio,Web Development,XML,jQuery,other,skill_count
0,11,8,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.140200
1,11,8,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.018894
2,16,5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,-0.004315
3,11,8,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.646002
4,8,8,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.946637

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=.75, random_state=123)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=123)

In [11]:
import xgboost as xgb

xgb_train = xgb.DMatrix(data=X_train, label=y_train)
xgb_val = xgb.DMatrix(data=X_val, label=y_val)
xgb_test = xgb.DMatrix(data=X_test, label=y_test)

params = {'max_depth': 3, 'eta': 0.1, 'subsample': 0.5, 'lambda': 1, 'alpha': 0, 'learning_rate': 0.1, 'max_depth': 7}

xgb_model = xgb.train(params, xgb_train, num_boost_round=100,
                      evals=[(xgb_val, "Validation")], verbose_eval=False)

In [12]:
xgb_predictions = xgb_model.predict(xgb_test)

In [13]:
from sklearn.metrics import classification_report
pd.DataFrame(classification_report(y_test, np.round(xgb_predictions), output_dict=True))

                     0            1  accuracy     macro avg  weighted avg
precision     0.835922     0.809159  0.826707      0.822540      0.825586
recall        0.892945     0.721430  0.826707      0.807187      0.826707
f1-score      0.863493     0.762780  0.826707      0.813137      0.824598
support    8136.000000  5119.000000  0.826707  13255.000000  13255.000000

In [15]:
#save model
xgb_model.save_model('../Boosts/SavedModels/XGBoost.json')

# load model
# import xgboost as xgb
# model2 = xgb.XGBClassifier()
# model2.load_model("model_sklearn.json")

<hr>